<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Score Card</legend>

<!-- Frames -->

<% for i in (1..10) %>

  <% if i != 10 %>
    <%= render partial: "frame", locals: {frame: i, bowls: 2 } %>
  <% else %>
    <%= render partial: "frame", locals: {frame: i, bowls: 3 } %>
  <% end %>

<% end %>


<div class="form-actions">
  <button type="submit" class="btn btn-primary">Score</button>
</div>

</fieldset>
</form>
