<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>This site acts as a bowling scorecard. It is based off of the bootstrap/rails app at <%= link_to("rails-bootstrap example","https://github.com/RailsApps/rails-bootstrap") %></p>
